Repository denichodev/unthicc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-keys, build-nginx

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - build

variables:
  KEYS_IMAGE: $CI_REGISTRY_IMAGE/keys
  NGINX_IMAGE: $CI_REGISTRY_IMAGE/nginx
  KEYS_TEST_TAG: "$KEYS_IMAGE:$CI_COMMIT_REF_NAME"
  NGINX_TEST_TAG: "$NGINX_IMAGE:$CI_COMMIT_REF_NAME"
  KEYS_RELEASE_TAG: "$KEYS_IMAGE:latest"
  NGINX_RELEASE_TAG: "$NGINX_IMAGE:latest"

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

build-keys:
  stage: build
  script:
    - docker build -f services/keys/Dockerfile . -t $KEYS_TEST_TAG
    - docker push "$KEYS_TEST_TAG"
  only:
    changes:
      - package.json
      - backpack.config.js
      - babel.config.js
      - services/keys/**/*

build-nginx:
  stage: build
  script: 
    - docker build -f services/nginx/Dockerfile . -t $NGINX_TEST_TAG
    - docker push "$NGINX_TEST_TAG"
  only:
    changes:
      - services/nginx/**/*

Typo
  .gitlab-ci.yml
Due: none

What the hell with these quote
  .gitlab-ci.yml
Due: none

Update yaml
  .gitlab-ci.yml
Due: none

Improvement on dockerfile
  services/keys/Dockerfile
Due: build-keys

Fix missing test files
  services/keys/Dockerfile
Due: build-keys

Test multi stage dockerfile to gitlab ci
  .dockerignore
  .gitlab-ci.yml
Due: none

test deps multistage
  .gitlab-ci.yml
Due: none

fuck typo
  .gitlab-ci.yml
Due: none

Efficient dependency caching for test & build
  .gitlab-ci.yml
  services/keys/Dockerfile
Due: build-keys

New (should be faster) flow with deps cache
  .gitlab-ci.yml
  services/keys/Dockerfile
Due: build-keys

Add caching for dev deps
  .gitlab-ci.yml
Due: none

Uncomment nginx
  .gitlab-ci.yml
Due: none

Failsafe docker pull
  .gitlab-ci.yml
Due: none

Test deployment to DO
  .gitlab-ci.yml
  scripts/deploy_keys.sh
Due: none

Change apt get to apk add
  .gitlab-ci.yml
Due: none

Typo sucks
  .gitlab-ci.yml
Due: none

change image
  .gitlab-ci.yml
Due: none

allow permission for scripts
  .gitlab-ci.yml
Due: none

Update deploy script
  scripts/deploy_keys.sh
Due: none

Run detached mode for server
  .gitlab-ci.yml
  scripts/deploy_keys.sh
Due: none

Add naming and image mgmt on deploy script
  scripts/deploy_keys.sh
Due: none

Keys deployment trigger test
  services/keys/src/routes/api/key.js
  services/keys/tests/ping.test.js
Due: build-keys

New deployment script
  .gitlab-ci.yml
  scripts/deploy_keys.sh
  services/nginx/prod.conf
  yarn.lock
Due: build-nginx

test service name echo
  scripts/deploy_keys.sh
Due: none

Add nginx deployment script
  .gitlab-ci.yml
  scripts/deploy_keys.sh
  scripts/deploy_service.sh
  services/keys/src/index.js
  services/nginx/prod.conf
Due: build-keys, build-nginx

Update typo
  .gitlab-ci.yml
Due: none

Change typo for filename
  .gitlab-ci.yml
Due: none

Change container network name
  .gitlab-ci.yml
  scripts/deploy_service.sh
Due: none

Updated docker compose for dev and prod
  devkit
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  services/keys/src/routes/api/key.js
Due: build-keys

New, more refined deployment scripts
  .gitlab-ci.yml
  devkit
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.yml
  scripts/deploy_service.sh
  services/keys/src/routes/api/key.js
  shared/deploy/Dockerfile
  shared/deploy/deploy.py
  shared/deploy/entrypoint.sh
  shared/deploy/requirements.txt
Due: build-keys

Change build:img hardcode to variable
  .gitlab-ci.yml
Due: none

Wrap RSA key with quote
  .gitlab-ci.yml
Due: none

Deploy image version update
  .gitlab-ci.yml
Due: none

Update deployment script
  .gitlab-ci.yml
  devkit
  shared/deploy/Dockerfile
  shared/deploy/deploy_service_old.sh
  shared/deploy/entrypoint.sh
  shared/deploy/scripts/docker-compose.dev.yml
  shared/deploy/scripts/docker-compose.prod.yml
  shared/deploy/scripts/docker-compose.yml
  shared/deploy/scripts/test.py
Due: none

Test new yml
  .gitlab-ci.yml
Due: none

Test new deployment script
  .gitlab-ci.yml
Due: none

Test new deployment with compose
  .gitignore
  .gitlab-ci.yml
  services/keys/src/routes/api/key.js
  services/keys/tests/ping.test.js
  shared/deploy/scripts/__init__.py
  shared/deploy/scripts/deploy_keys.py
  shared/deploy/scripts/test.py
  shared/deploy/scripts/utils.py
Due: build-keys

Wrong deployment scripts
  shared/deploy/scripts/deploy_keys.py
Due: none

Update README with todos
  README.md
Due: none

Test readme update
  README.md
Due: none
