Repository denichodev/unthicc: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-keys, build-keys, build-nginx

.gitlab-ci.yml:

image: docker:latest

services:
  - docker:dind

stages:
  - test
  - build
  - deploy

variables: &global_variables
  KEYS_IMAGE: $CI_REGISTRY_IMAGE/keys
  NGINX_IMAGE: $CI_REGISTRY_IMAGE/nginx
  KEYS_TEST_TAG: $CI_REGISTRY_IMAGE/keys:$CI_COMMIT_REF_NAME
  NGINX_TEST_TAG: $CI_REGISTRY_IMAGE/nginx:$CI_COMMIT_REF_NAME
  KEYS_RELEASE_TAG: $KEYS_IMAGE:latest
  NGINX_RELEASE_TAG: $NGINX_IMAGE:latest

before_script:
  - docker login -u "$CI_REGISTRY_USER" -p "$CI_REGISTRY_PASSWORD" $CI_REGISTRY

test-keys:
  stage: test
  script:
    - docker pull "${KEYS_TEST_TAG}-deps" || true
    - docker build --target dependencies --cache-from "${KEYS_TEST_TAG}-deps" -f services/keys/Dockerfile . -t "${KEYS_TEST_TAG}-deps"
    - docker run "${KEYS_TEST_TAG}-deps" yarn test
    - docker push "${KEYS_TEST_TAG}-deps"
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - backpack.config.js
      - babel.config.js
      - services/keys/**/*

build-keys:
  stage: build
  script:
    - docker pull "${KEYS_TEST_TAG}-deps" || true
    - docker build --cache-from "${KEYS_TEST_TAG}-deps" -f services/keys/Dockerfile . -t "$KEYS_TEST_TAG"
    - docker push "$KEYS_TEST_TAG"
  only:
    changes:
      - .gitlab-ci.yml
      - package.json
      - backpack.config.js
      - babel.config.js
      - services/keys/**/*

build-nginx:
  stage: build
  script: 
    - docker build -f services/nginx/Dockerfile . -t "$NGINX_TEST_TAG"
    - docker push "$NGINX_TEST_TAG"
  only:
    changes:
      - .gitlab-ci.yml
      - services/nginx/**/*

.deploy: &deploy
  stage: deploy
  script:
    - apk add --update --no-cache openssh sshpass
    - sshpass -v
    - chmod +x ./scripts/deploy_service.sh
    - ./scripts/deploy_service.sh $SSH_PASS
  when: manual
  only: 
    - master

deploy-keys:
  <<: *deploy
  variables:
    <<: *global_variables
    CONTAINER_NAME: keys
    CONTAINER_NETWORK: bridge
    CONTAINER_DETACHED: 'true'

deploy-nginx:
  <<: *deploy
  variables:
    <<: *global_variables
    CONTAINER_NAME: nginx
    CONTAINER_PUBLISH: '80:80'
    CONTAINER_NETWORK: bridge
    CONTAINER_DETACHED: 'true'

Add useless todo to trigger mirrored pipeline
  README.md
Due: none

Remove readme
  README.md
Due: none

Add fancy pipeline shits
  README.md
Due: none

Inline pipeline indicator
  README.md
Due: none

Update deployment scripts
  .gitlab-ci.yml
  services/keys/Dockerfile
  shared/deploy/scripts/deploy_keys.py
  shared/deploy/scripts/utils.py
Due: test-keys, build-keys, build-nginx

Rename deploy keys
  shared/deploy/scripts/deploy.py
Due: none

Missing import
  shared/deploy/scripts/deploy.py
Due: none

Fix deployment scripts environment
  .gitlab-ci.yml
  shared/deploy/scripts/deploy.py
Due: test-keys, build-keys, build-nginx

Fix registry auth
  shared/deploy/scripts/deploy.py
Due: none

dumb typo
  shared/deploy/scripts/deploy.py
Due: none

Remove os hostname
  services/keys/src/routes/api/key.js
Due: test-keys, build-keys

Remove hostname test
  services/keys/tests/ping.test.js
Due: test-keys, build-keys

Update image refs
  shared/deploy/scripts/docker-compose.yml
Due: none

Massive code cleanups and use traefik
  .dockerignore
  .eslintignore
  .eslintrc.js
  .gitlab-ci.old.yml
  .gitlab-ci.yml
  backpack.config.js
  package.json
  services/keys/.eslintrc.js
  services/keys/Dockerfile
  services/keys/Dockerfile-dev
  services/keys/Dockerfile.old
  services/keys/babel.config.js
  services/keys/backpack.config.js
  services/keys/package.json
  services/keys/src/createApp.js
  services/keys/src/routes/api/key.js
  services/keys/tests/ping.test.js
  services/keys/yarn.lock
  services/nginx/Dockerfile
  services/nginx/Dockerfile-dev
  services/nginx/dev.conf
  services/nginx/prod.conf
  shared/deploy/deploy_service_old.sh
  shared/deploy/scripts/deploy.py
  shared/deploy/scripts/docker-compose.dev.yml
  shared/deploy/scripts/docker-compose.prod.yml
  shared/deploy/scripts/docker-compose.yml
  shared/deploy/scripts/traefik.toml
  yarn.lock
Due: test-keys, build-keys, build-nginx

Fix test
  services/keys/tests/ping.test.js
Due: test-keys, build-keys

Typo on keys path, fuck new macbook keyboard
  services/keys/Dockerfile
Due: test-keys, build-keys

Update gitlab ci config
  .gitlab-ci.yml
Due: test-keys, build-keys, build-nginx

Remove unused db migrations
  db/migrations/20181116171443-initial-data.js
  db/migrations/config.js
  db/migrations/seed/index.js
Due: none

Go setup
  .gitignore
  .gitlab-ci.yml
  go/src/keys/Dockerfile
  go/src/keys/Gopkg.lock
  go/src/keys/Gopkg.toml
  go/src/keys/config.yaml
  go/src/keys/config/configuration.go
  go/src/keys/config/server.go
  go/src/keys/features/keys/keys.go
  go/src/keys/main.go
  go/src/keys/modd.conf
  go/src/keys/router.go
  shared/deploy/env/keys/config.yaml
  shared/deploy/scripts/deploy.py
  shared/deploy/scripts/docker-compose.dev.yml
  shared/deploy/scripts/docker-compose.prod.yml
Due: test-keys, build-keys, build-nginx

Update deployment
  go/src/keys/Dockerfile
  shared/deploy/scripts/deploy.py
  shared/deploy/scripts/docker-compose.dev.yml
Due: none

Update create folder path
  shared/deploy/scripts/deploy.py
Due: none

Update compose
  shared/deploy/scripts/docker-compose.yml
Due: none

Only copy runtime
  go/src/keys/Dockerfile
Due: none

Update docker compose
  shared/deploy/scripts/docker-compose.prod.yml
Due: none

Add simple structure for key service
  go/src/keys/Gopkg.lock
  go/src/keys/Gopkg.toml
  go/src/keys/features/keys/keys.go
  go/src/keys/key/entity.go
  go/src/keys/key/mongo.go
  go/src/keys/key/repository.go
  go/src/keys/key/route.go
  go/src/keys/key/service.go
  go/src/keys/main.go
  go/src/keys/router.go
  shared/deploy/scripts/docker-compose.dev.yml
Due: none

Cleanup
  go/src/keys/key/repo.go
  go/src/keys/key/repository.go
  go/src/keys/key/route.go
  go/src/keys/main.go
  go/src/keys/router.go
Due: none

Update and cleanup key repo
  go/src/keys/key/repo.go
  go/src/keys/main.go
  go/src/keys/modd.conf
  go/src/keys/router.go
Due: none
